<% layout('layouts/boilerplate')%>
<div class="row">
    <h1 class="text-center">Edit game</h1>
    <div class="col-6 offset-3">
        <form action="/games/<%=game._id%>?_method=PUT" method="POST" novalidate class="validated-form" enctype="multipart/form-data"> 
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" id="title" name="game[title]"
                    value="<%=game.title %>" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input class="form-control" type="text" id="location" name="game[location]"
                    value="<%=game.location %>" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="price">game Price</label>
                <div class="input-group">
                    <span class="input-group-text" id="price-label">$</span>
                    <input type="text" class="form-control" id="price" placeholder="0.00" aria-label="price"
                        aria-describedby="price-label" name="game[price]" value="<%=game.price %>"
                        required><div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" type="text" id="description" name="game[description]"
                    required><%= game.description%></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <div class="mb-3">
                <label for="">Upload Image(s)</label>
            <div class="form-file custom-file">
                <input type="file" class="form-file-input" id="image" name="image" multiple>
                <label class="form-file-label" for="image">
                    <span class="form-file-text custom-file-label">Add more image(s)...</span>
                    <span class="form-file-button">Browse</span>
                </label>
            </div>
            
            </div>

            <div class="mb-3">
                <% game.images.forEach(function(img, i) {  %>
                <img src="<%=img.thumbnail%>" class="img-thumbnail" alt="">
                <div class="form-check-inline">
                    <input type="checkbox" id="image-<%=i%>" name="deleteImages[]" value="<%=img.filename%>">
                </div>
                <label for="image-<%=i%>">Delete?</label>
                <% })%>
            </div>
    


            <div class="mb-3">
                <button class="btn btn-info">Update Game</button>
            </div>
        </form>
        <a href="/games/<%= game._id%>">Back To Games</a>

    </div>
</div>